/* Empty. Add your own CSS if you like */

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.angular-google-map,
.angular-google-map-container {
  height: 100%;
}

.centered-text {
  text-align: center;
}

.tile {
  height: 300px;
  border-bottom: 1px solid #fff;
  background-size: cover;
  width: 100%;
  margin-bottom: 6px;
  background-repeat: no-repeat;
  background-position: center center;
}

.tile:active .hover {
  background: rgba(0,0,0,0);
  transition: background 0.3s ease-in;
}

.tile .hover {
  background: rgba(0,0,0,0.6);
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding-top: 150px;
  font-weight: 600;
}

.tile.montreal {
  background-image: url('/img/cities/montreal.jpg');
}

.tile.toronto {
  background-image: url('/img/cities/toronto.jpg');
}

.tile.vancouver {
  background-image: url('/img/cities/vancouver.jpg');
}

/*@media only screen and (max-width: 768px) {*/
  /*.tile {*/
    /*max-width: 256px;*/
    /*height: auto;*/
    /*!*display: block;*!*/
  /*}*/
/*}*/

.nopadding .row {
  padding: 0 0 0 0;
}


img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(60%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.bar-footer {
  background: rgba(255, 255, 255, 0.5);
}

.button.button-block {
  margin: 0;
}


.page-city {
  //margin-top: 35px;
}

.page-city .row, .page-city .col {
  padding:0;
}