<ion-view view-title="Bike Bud" class="page-city">
  <ion-content>
      <div class="row">
        <div class="col">
          <div class="tile montreal">
            <div class="hover" ng-click="chooseCity('Montreal')">Montreal</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="tile toronto">
            <div class="hover" ng-click="chooseCity('Toronto')">Toronto</div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <div class="tile vancouver">
          <div class="hover" ng-click="chooseCity('Vancouver')">Vancouver</div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
