<ion-view view-title="Bike Bud" class="page-locations">
  <ion-content>


    <div class="row">
      <div ng-repeat="location in locations" class="col-50">
        <div class="tile {{location.class}}"
             ng-class="{'border-right': location.id % 2 === 1, 'selected': location.selected == true }"
        >
          <div class="hover"
               data={{location.coords}}
               ng-click="vm.selectionChanged(location)"
          >
            {{location.name}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col padding">
        <button class="button button-block button-balanced" ng-click="vm.createRoute()">
          Let's Go!
        </button>
      </div>
    </div>


    <!--<div class="row">-->
      <!--<div class="col-50">-->
        <!--<div class="tile border-right st-joseph">-->
          <!--<div class="hover">St-Joseph Oratory</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-50">-->
        <!--<div class="tile mcgill" data="coords" class="tile" ng-click="vm.selectionChanged($event)">-->
          <!--<div class="hover">McGill University</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-50">-->
        <!--<div class="tile border-right oldport">-->
          <!--<div class="hover">Old Port</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-50">-->
        <!--<div class="tile border-right julep">-->
          <!--<div class="hover">Orange Julep</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-50">-->
        <!--<div class="tile border-right olympic-stadium">-->
          <!--<div class="hover">Olympic Stadium</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-50">-->
        <!--<div class="tile mont-royal">-->
          <!--<div class="hover">Mont-Royal Park</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
