<ion-view view-title="Bike Bud">
  <ion-content>

  <div class="container-fluid nopadding">
  <div class="row">
    <div class="col-50 nopadding">
      <img src="img/locationTiles/mcgill.png" class="tile grayscale">
    </div>
    <div class="col-50 nopadding">
      <img src="img/locationTiles/cross.png" class="tile grayscale">
    </div>
    </div>

    <div class="row">
    <div class="col-50 nopadding">
      <img src="img/locationTiles/orange-julep.png" class="tile grayscale">
    </div>
    <div class="col-50nopadding">
      <img src="img/locationTiles/notre-dame.png" class="tile grayscale">
    </div>
    </div>

    <div class="row">
    <div class="col-50 nopadding">
      <img src="img/locationTiles/oldport.png" class="tile grayscale">
    </div>
    <div class="col-50 nopadding">
      <img src="img/locationTiles/schwartz.png" class="tile grayscale">
    </div>
    </div>
  </div>

  </ion-content>
</ion-view>
